h1 {
  text-align: center;
  font-weight: 900;
  font-size: x-large;
  color: rgb(224, 77, 77);
  margin-bottom: 5px;
  margin-top: 5px;
}
body {
  font-family: sans-serif;
  background-color: rgba(235, 235, 235, 255);
  color: #807e7e;
}
.presentation {
  margin: 25px 500px;
  padding: 25px;
  text-align: center;
  background-color: rgba(255, 255, 255, 255);
  border-radius: 5px;
  box-shadow: 0 2px 12px 5px rgba(0, 0, 0, 0.055);
}
.portrait {
  position: static;
  margin: 5px auto;
  margin-top: 5px;
  display: block;
  border-radius: 50%;
  border: 3px solid rgb(211, 211, 211);
  height: 100px;
  width: 100px;
}

.push {
  margin: 15px 0px;
  padding: 5px;
  font-family: sans-serif;
  background-color: rgb(224, 77, 77);
  border: 3px solid rgb(224, 77, 77);
  border-radius: 5px;
  font-weight: bolder;
  color: rgb(255, 255, 255);
  text-decoration: none;
}
.icons {
  margin: 25px 500px;
  padding: 25px;
  text-align: center;
  background-color: rgba(255, 255, 255, 255);
  border-radius: 5px;
  box-shadow: 0 2px 12px 5px rgba(0, 0, 0, 0.055);
}
ul {
  height: 100%;
  display: flex;
  list-style-type: none;
  align-items: center;
  justify-content: center;
}
li {
  margin: 0 20px;
  text-align: center;
}
i{    font-size: 1.5rem;
  color: rgb(204, 204, 204);
  margin: 5px;
}}
.social {
  color: rgb(204, 204, 204);
  text-decoration: none;
  font-size: 0.9rem;
}

.histoires {
  text-align: justify;
  margin: 25px 500px;
  padding: 25px;
  text-align: center;
  background-color: rgba(255, 255, 255, 255);
  border-radius: 5px;
  box-shadow: 0 2px 12px 5px rgba(0, 0, 0, 0.055);
}
p{    
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}
.affiche1 {
  align-items: center;
  vertical-align: middle;
  margin: auto;
  padding: 30px;
  display: flex;
  flex-direction: row;
}
.affiche2 {
  align-items: center;
  vertical-align: middle;
  margin: auto;
  padding: 30x;
  display: flex;
  flex-direction: row;
}

.affiche3 {
  align-items: center;
  vertical-align: middle;
  margin: auto;
  padding: 30px;
  display: flex;
  flex-direction: row;
}
.description {
  margin: 0 5px;
  text-align: center;
  text-justify: auto;
}
.picture {
  height: 120px;
  display: flex;
  flex-direction: column;
  vertical-align: middle;
}
